# Preprocessing

## Initial Inspection

In [1]:
import pandas as pd

path = "../data/"
data = pd.read_excel(path+"raw/WIID_19Dec2018.xlsx")
data.head()

,id,country,c3,c2,year,gini_reported,q1,q2,q3,q4,...,median_usd,gdp_ppp_pc_usd2011,population,revision,quality,quality_score,source,source_detailed,source_comments,survey
0,1,Afghanistan,AFG,AF,2008,29.00,9.00,13.00,17.00,22.00,...,NaN,1298.0,27294031.0,New 2013,High,12,National statistical authority,European Commission and the Government of Afgh...,National Risk and Vulnerability Assessment,NaN
1,2,Albania,ALB,AL,1996,27.01,9.15,13.70,17.73,23.29,...,1982.0,4812.0,3092228.0,New 2018,Average,13,World Bank,World Bank 2018,PovcalNet,NaN
2,3,Albania,ALB,AL,2002,31.74,8.35,12.58,16.49,22.21,...,1902.0,6316.0,3119029.0,New 2018,Average,13,World Bank,World Bank 2018,PovcalNet,NaN
3,4,Albania,ALB,AL,2005,30.60,8.40,12.90,17.03,22.50,...,2217.0,7563.0,3079179.0,New 2018,Average,13,World Bank,World Bank 2018,PovcalNet,NaN
4,5,Albania,ALB,AL,2008,29.98,8.87,13.07,16.83,22.23,...,2385.0,9018.0,2991651.0,New 2018,Average,13,World Bank,World Bank 2018,PovcalNet,NaN

In [2]:
print(data.shape)
print(data.columns)

(11101, 55)
Index(['id', 'country', 'c3', 'c2', 'year', 'gini_reported', 'q1', 'q2', 'q3',
       'q4', 'q5', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6', 'd7', 'd8', 'd9', 'd10',
       'bottom5', 'top5', 'resource', 'resource_detailed', 'scale',
       'scale_detailed', 'sharing_unit', 'reference_unit', 'areacovr',
       'areacovr_detailed', 'popcovr', 'popcovr_detailed', 'region_un',
       'region_un_sub', 'region_wb', 'eu', 'oecd', 'incomegroup', 'mean',
       'median', 'currency', 'reference_period', 'exchangerate', 'mean_usd',
       'median_usd', 'gdp_ppp_pc_usd2011', 'population', 'revision', 'quality',
       'quality_score', 'source', 'source_detailed', 'source_comments',
       'survey'],
      dtype='object')

In [3]:
i = 11
data.iloc[:10, i:i+10]

     d1    d2    d3    d4    d5    d6     d7     d8     d9    d10
0   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN    NaN    NaN
1  3.86  5.29  6.38  7.32  8.38  9.35  10.82  12.47  14.90  21.22
2  3.49  4.86  5.84  6.74  7.65  8.84  10.23  11.98  14.93  25.44
3  3.48  4.92  5.98  6.92  7.99  9.04  10.37  12.13  14.83  24.34
4  3.73  5.14  6.09  6.98  7.91  8.92  10.30  11.93  14.54  24.46
5  3.66  5.19  6.14  7.03  8.08  9.26  10.52  12.29  14.89  22.93
6  2.70  3.84  4.87  5.87  6.90  8.03   9.40  11.24  14.34  32.81
7  2.87  4.09  5.22  6.33  7.48  8.76  10.29  12.34  15.73  26.89
8  4.05  5.31  6.36  7.31  8.24  9.23  10.39  11.90  14.36  22.86
9   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN    NaN    NaN

In [4]:
i = 21
data[["bottom5", "top5"]].iloc[:10]

   bottom5  top5
0      NaN   NaN
1      NaN   NaN
2      NaN   NaN
3      NaN   NaN
4      NaN   NaN
5      NaN   NaN
6      NaN   NaN
7      NaN   NaN
8      NaN   NaN
9      NaN   NaN

In [5]:
data["resource"].unique()

array(['Consumption', 'Income (net/gross)', 'Income (net)', 'Earnings',
       'Income (gross)', nan], dtype=object)

In [6]:
data["resource_detailed"].unique()

array(['Consumption', 'Income, net/gross', 'Monetary income, net',
       'Primary income', 'Income, gross', 'Income, net', 'Market income',
       'Earnings, gross', 'Monetary income, gross',
       'Taxable income, gross', 'Taxable income, net', 'Earnings, net',
       'Monetary income', 'Earnings', 'Factor income',
       'Monetary income, net (excluding property income)',
       'Income/consumption', 'Taxable income, excluding property income',
       'Taxable income, gross (including deductions)'], dtype=object)

In [7]:
data[["resource", "resource_detailed"]].value_counts()

resource            resource_detailed
Income (net)        Income, net                                         3671
Income (net/gross)  Income, net/gross                                   2329
Income (gross)      Income, gross                                       1656
Consumption         Consumption                                         1572
Earnings            Market income                                        530
                    Earnings, gross                                      489
Income (net)        Monetary income, net                                 218
Earnings            Taxable income, gross                                152
Income (gross)      Monetary income, gross                               148
Earnings            Earnings, net                                        139
                    Primary income                                        69
                    Taxable income, net                                   65
                    Factor income                                         25
Income (net/gross)  Monetary income                                       19
Earnings            Earnings                                               9
Income (net)        Monetary income, net (excluding property income)       7
Earnings            Taxable income, gross (including deductions)           1
                    Taxable income, excluding property income              1
Name: count, dtype: int64

In [8]:
data[data["resource"] == "Consumption"]["resource_detailed"].unique()

array(['Consumption'], dtype=object)

In [9]:
data["resource"].value_counts()

resource
Income (net)          3896
Income (net/gross)    2348
Income (gross)        1804
Consumption           1572
Earnings              1480
Name: count, dtype: int64

In [10]:
data[["resource", "resource_detailed"]].isna().sum()

resource             1
resource_detailed    0
dtype: int64

In [11]:
data["resource_detailed"].unique()

array(['Consumption', 'Income, net/gross', 'Monetary income, net',
       'Primary income', 'Income, gross', 'Income, net', 'Market income',
       'Earnings, gross', 'Monetary income, gross',
       'Taxable income, gross', 'Taxable income, net', 'Earnings, net',
       'Monetary income', 'Earnings', 'Factor income',
       'Monetary income, net (excluding property income)',
       'Income/consumption', 'Taxable income, excluding property income',
       'Taxable income, gross (including deductions)'], dtype=object)

In [12]:
data["scale_detailed"].unique()

array(['Per capita', 'Equivalized', 'No adjustment', nan,
       'Family per capita', 'Family equivalized, OECD', 'OECD-modified',
       'OECD', 'Economic family equivalized, square root',
       'Family equivalized, square root',
       'Census family equivalized, square root', 'Family equivalized',
       'Household equivalized, social assistance', 'Tax unit per capita',
       'National scale', '1988 revised Jensen scale',
       'Family equivalized, social assistance',
       'Family equivalized, national scale',
       'Tax unit equivalized, square root', '1977 McClements scale',
       'Head of household'], dtype=object)

In [13]:
data["scale"].unique()

array(['Per capita', 'Equivalized', 'No adjustment', nan], dtype=object)

In [14]:
data[["scale", "scale_detailed"]].value_counts()

scale          scale_detailed
Per capita     Per capita                                  4812
Equivalized    Equivalized                                 2665
No adjustment  No adjustment                               2157
Equivalized    OECD-modified                                659
Per capita     Family per capita                             93
Equivalized    1977 McClements scale                         43
               Family equivalized, social assistance         25
               Economic family equivalized, square root      22
Per capita     Head of household                             22
Equivalized    National scale                                20
               Household equivalized, social assistance      15
               1988 revised Jensen scale                     12
               OECD                                          11
               Family equivalized, square root                9
               Census family equivalized, square root         8
               Family equivalized, national scale             8
               Family equivalized                             7
               Family equivalized, OECD                       4
Per capita     Tax unit per capita                            3
Equivalized    Tax unit equivalized, square root              1
Name: count, dtype: int64

In [15]:
data[["sharing_unit", "reference_unit"]].value_counts()

sharing_unit  reference_unit
Household     Person            8431
              Household         1338
Person        Person             768
Tax unit      Tax unit            49
Family        Person               6
Household     Family               2
Tax unit      Person               2
Name: count, dtype: int64

In [ ]:
data[["scale", "scale_detailed", "sharing_unit", "reference_unit"]].value_counts().sort_index()

scale          scale_detailed                            sharing_unit  reference_unit
Equivalized    1977 McClements scale                     Household     Person              43
               1988 revised Jensen scale                 Household     Person              12
               Census family equivalized, square root    Household     Person               8
               Economic family equivalized, square root  Household     Person              22
               Equivalized                               Household     Household            8
                                                                       Person            2657
               Family equivalized                        Household     Person               7
               Family equivalized, OECD                  Household     Person               4
               Family equivalized, national scale        Household     Person               8
               Family equivalized, social assistance     Household     Person              25
               Family equivalized, square root           Household     Person               9
               Household equivalized, social assistance  Household     Person              15
               National scale                            Household     Person              20
               OECD                                      Household     Person              11
               OECD-modified                             Household     Person             659
               Tax unit equivalized, square root         Tax unit      Person               1
No adjustment  No adjustment                             Household     Family               2
                                                                       Household         1330
                                                                       Person               8
                                                         Person        Person             768
                                                         Tax unit      Tax unit            49
Per capita     Family per capita                         Household     Person              93
               Head of household                         Household     Person              22
               Per capita                                Family        Person               6
                                                         Household     Person            4805
               Tax unit per capita                       Household     Person               2
                                                         Tax unit      Person               1
Name: count, dtype: int64

In [18]:
data[["scale", "scale_detailed", "sharing_unit", "reference_unit"]].value_counts().sort_index().to_csv("scales.csv")